{% extends "layout.html" %}

{% block heading %}
<title>About</title>
    
{% endblock %}

{% block body %}
        
        <h2>About this experimental web-site in brief:</h2>
        <div class="div-text">
            
            Last week I joined a course that is offered by <span><a href= "https://Edx.org">Edx</a></span> which later noticed that institution is a great <span>Online Course Provider</span> 
            since 2012 and is created by people in <span<strong>Massachusetts Institute of Technology and Harvard University.</strong></span>
            Then I came to know that behind this, there is a very gigantic sized project which covers nore than 2500 online courses from 140+ institutions that one can choose
            and  start anytime "!"
            I found it a valuable opportunity then disregarding my age, I rushed to enroll in a course titled <span>web-programming with Python and Javascript</span> a week ago
            and this experimental humble web is considered my own <span>project0</span> coursework. 
            The objectives of the  project0 are:
      
       
            <ul class="unorderedlist">
                <li>Become more comfortable with HTML and CSS to design and style webpages</li>
                <li>Learn to use SCSS to write more complex stylesheets for your webpages.</li>
            </ul>  
                 My <span>project0</span> web page name is <em>Weather report</em> which simply directs the user to a HTML page that mimics a weather forecasting web site by 
                 displaying the weather status as well as tempertature of a couple of famous cities around the world.

                 Since all pages are implemented as static html pages, no online data alterations can be seen and also all the weather data are fake but not realistic.
                 I've done my utmost to develop my own version of <span>project0 </span> to comply with the course requirements as:
                 <ul class="unorderedlist">
                  <li>must contain at least four different .html pages, and it should be possible to get from any page on your website to any other page by following one or more hyperlinks.</li> 
                   <li>must include at least one list (ordered or unordered), at least one table, and at least one image.</li> 
                   <li>must have at least one stylesheet file.</li>
                   <li>stylesheet(s) must use at least five different CSS properties, and at least five different types of CSS selectors. You must use the #id selector at least once, 
                       and the .class selector at least once.</li>
                    <li>stylesheet(s) must include at least one mobile-responsive @media query, such that something about the styling changes for smaller screens.</li>
                    <li>must use Bootstrap 4 on your website, taking advantage of at least one Bootstrap component, and using at least two Bootstrap columns for 
                           layout purposes using Bootstrap’s grid model.</li>
                    <li>stylesheets must use at least one SCSS variable, at least one example of SCSS nesting, and at least one use of SCSS inheritance.</li>
                    <li>In README.md, include a short writeup describing your project, what’s contained in each file, and (optionally)
                                any other additional information the staff should know about your project.</li>
                 </ul> 


        </div>
    {% endblock %}
   