{% extends "layout.html" %}

{% block heading %}
<title>Contact me</title>
{% endblock %}

{% block body %}
   
                <h2 class="head1">contact points:</h2>
                <div class="grid">
                    <div class="grid-item">Cell phone</div>
                    <div class="grid-item">(301) 326-8983</div>
                    <div class="grid-item">Email</div>
                    <div class="grid-item">Click here to send an email<a href="mailto:Lt_hamid@yahoo.com?&bcc=hamid.ashkan@gmail.com&subject=Mail from Weather.Report Website&body=Enter your message text here">Send Email</a>
                        </div>
                    <div class="grid-item">Facebook</div>
                    <div class="grid-item">hamid ashkan</div>
                    <div class="grid-item">Instagram</div>
                    <div class="grid-item">ly_hamid</div>
                    
                </div>
                        
{% endblock%}
    